.blocks-double {
    width: 800px;
    margin: 30px auto;
    padding: 10px;

    display: flex;
    justify-content: space-between;

    border: 2px solid #000000;
}

.is-equal-to {
    margin: auto;
    font-size: 50px;
}



.double-block-inside {
    width: 350px;
    height: 100px;

    border: 1px solid #000000;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inside-color {
    background-color: #232635;
}

.outside-color {
    background-color: #373747;
}

.input-exchanger {
    background: transparent;
    outline: none;
    color: white;

    text-align: center;
    width: 150px;
    height: 30px;

    font-size: 22px;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.selector {
    margin-top: 5px;

    background: transparent;
    outline: none;
    color: white;

    border: none;

}

.out-Light {
    border: 2px solid #000000;
    border-radius: 20px;
    box-shadow: -10px -10px 30px rgb(0, 157, 255), 10px 10px 30px rgb(183, 0, 255);
}

.area-actual-course {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.input-cur {
    background: transparent;
    outline: none;
    color: white;

    text-align: right;
    width: 150px;
    height: 30px;

    font-size: 22px;
    border: none;
}

.course-input {
    font-size: 18px;
    margin: auto 10px auto 0;

}

.actual-course {
    width: 270px;

    margin: 0 10px 10px 0;
    padding: 10px;

    text-align: center;

    border: 1px solid #000000;
    border-radius: 15px;

    background-color: #232635;

    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}